<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
	  <add name="DomainModelContainer" connectionString="metadata=res://*/Model.DomainModel.csdl|res://*/Model.DomainModel.ssdl|res://*/Model.DomainModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=C:\Lab\Cursos con Super Poderes\Sixeyed.Extension.Library\Sixeyed.Extension.Library.Domain\Model\Sixeyed_Products.mdf;integrated security=True;connect Timeout=30&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>